<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:appCategory="accessibility"
        android:hardwareAccelerated="true"
        android:label="@string/app"
        android:largeHeap="true"
        android:supportsRtl="false"
        tools:ignore="DataExtractionRules,MissingApplicationIcon">
        <service
            android:name=".Service"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/service" />
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
    </application>
</manifest>